# Copy to /lib/systemd/system/face-detect.service
[Unit]
Description=smart-zoneminder's face detection service
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="LD_LIBRARY_PATH=/usr/local/cuda-10.2/lib64"
Type=simple
Restart=always
RestartSec=1
User=lindo
WorkingDirectory=/home/lindo/develop/smart-zoneminder/face-det-rec
ExecStart=/home/lindo/.virtualenvs/szm/bin/python3 face_detect_server.py

[Install]
WantedBy=multi-user.target