# Copy to /lib/systemd/system/detect-tpu.service
[Unit]
Description=smart-zoneminder's object and face detection service (tpu)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mendel
WorkingDirectory=/media/mendel/tpu-servers
ExecStart=/usr/bin/python3 detect_servers_tpu.py

[Install]
WantedBy=multi-user.target