absl-py==0.6.1
acme==0.31.0
apturl==0.5.2
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
awscli==1.15.31
bcrypt==3.1.6
boto3==1.10.26
botocore==1.13.26
Brlapi==0.6.6
certbot==0.27.0
certifi==2018.1.18
cffi==1.12.3
chardet==3.0.4
click==6.7
colorama==0.3.9
command-not-found==0.3
ConfigArgParse==0.11.0
configobj==5.0.6
cryptography==2.6.1
cupshelpers==1.0
defer==1.0.6
distro-info===0.18ubuntu0.18.04.1
dlib==19.15.99
docutils==0.15.2
face-recognition==1.2.2
face-recognition-models==0.3.0
first==2.0.1
future==0.17.1
gast==0.2.1
gevent==1.4.0
graphsurgeon==0.2.0
greenlet==0.4.15
grpcio==1.17.1
h5py==2.9.0
httplib2==0.9.2
idna==2.6
ifaddr==0.1.6
imutils==0.4.6
isort==4.3.20
jmespath==0.9.4
josepy==1.1.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.1
louis==3.5.0
lxml==4.3.2
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.0
mccabe==0.6.1
mendel-development-tool==1.2
mock==2.0.0
msgpack-python==0.5.6
mysql-connector==2.1.6
mysql-connector-python==2.1.6
netifaces==0.10.4
numpy==1.15.4
oauth==1.0.1
olefile==0.45.1
paramiko==2.4.2
parsedatetime==2.4
pbr==4.2.0
pexpect==4.2.1
Pillow==6.2.1
pip-tools==2.0.2
protobuf==3.6.1
pyasn1==0.4.5
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.26.1
pylint==2.3.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==17.5.0
PyQt5==5.10.1
pyRFC3339==1.0
python-apt==1.6.4
python-dateutil==2.8.0
python-debian==0.1.32
python-magic==0.4.16
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
pyzmq==17.1.2
reportlab==3.4.0
requests==2.18.4
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
rsa==3.4.2
s3cmd==2.0.1
s3transfer==0.2.1
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.13.2
sip==4.19.8
six==1.13.0
ssh-import-id==5.7
stevedore==1.29.0
system-service==0.3
systemd-python==234
tensorboard==1.12.2
tensorrt==4.0.1.6
termcolor==1.1.0
typed-ast==1.3.5
ubuntu-drivers-common==0.0.0
uff==0.5.5
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.7
usb-creator==0.3.3
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wadllib==1.3.2
Werkzeug==0.15.3
wrapt==1.11.1
wxPython==4.0.1
xkit==0.0.0
zeroconf==0.22.0
zerorpc==0.6.1
zope.component==4.3.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
