absl-py==0.6.1
astor==0.7.1
bleach==1.5.0
contextlib2==0.5.5
cycler==0.10.0
future==0.17.1
gast==0.2.1
gevent==1.4.0
greenlet==0.4.15
grpcio==1.17.1
h5py==2.9.0
html5lib==0.9999999
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.1.0
lxml==4.3.3
Markdown==3.0.1
matplotlib==3.1.0
mock==3.0.5
msgpack-python==0.5.6
numpy==1.15.4
Pillow==6.0.0
pkg-resources==0.0.0
protobuf==3.6.1
pycocotools==2.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
pyzmq==17.1.2
six==1.12.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
Werkzeug==0.15.5
zerorpc==0.6.1
