# Copy to /lib/systemd/system/obj-detect-tpu.service
[Unit]
Description=smart-zoneminder's object detection service (tpu)
After=network.target
StartLimitIntervalSec=0

[Service]
# Tensorflow paths
Type=simple
Restart=always
RestartSec=1
User=mendel
WorkingDirectory=/media/mendel/obj-detect-tpu
ExecStart=python3 obj_detect_server_tpu.py

[Install]
WantedBy=multi-user.target