[Unit]
Description=smart-zoneminder's alarm uploader service
After=obj-detect.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=lindo
WorkingDirectory=/home/lindo/develop/smart-zoneminder/zm-s3-upload
ExecStart=/usr/local/bin/node zm-s3-upload.js
ExecStop=/usr/bin/pkill -f "/usr/local/bin/node zm-s3-upload.js"

[Install]
WantedBy=multi-user.target